body {
  font-family: system-ui, sans-serif;
  background: #020617;
  color: #e5e7eb;
  padding: 10px;
}

button {
  margin: 4px;
  padding: 6px 10px;
  font-size: 14px;
}

#wakeBtn.active {
  background: #16a34a;
  color: white;
}

.row {
  border-bottom: 1px solid #334155;
  padding: 4px 0;
}

textarea {
  width: 100%;
}